/* RESET & BASE STYLES */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

a:visited {
    color: var(--visited-color);
}

a:active {
    color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
}